/* WEB FONTS via @font-face
-------------------------------------------------------------------------
 * This file won't be minified, to prevent some issues.
------------------------------------------------------------------------*/

/* Fonts.com license key */
@import url('http://fast.fonts.com/t/1.css?apiType=css&amp;projectid=df154425-8fec-4c55-bf85-6110e0b10c9f');

/* DEFAULT theme fonts ********************************************************
 * Source: Fonts.com
 */
@font-face {
    font-family:'Century Gothic W01 Bold';
    src:url('../fonts/b247e158-e647-4a3d-9637-944de5124043.eot?iefix');
    src:local('☺'),
    url('../fonts/b247e158-e647-4a3d-9637-944de5124043.eot?iefix') format('embedded-opentype'),
    url('../fonts/2ef5ecda-1772-45e2-843f-a13f5d76ed3a.woff') format('woff'),
    url('../fonts/33cf10ca-a6bb-4888-a320-d38720c9847b.ttf') format('truetype'),
    url('../fonts/3428a0e6-cb4d-408a-8331-cc78554ab49c.svg#3428a0e6-cb4d-408a-8331-cc78554ab49c') format('svg');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family:'Century Gothic W01';
    src:url('../fonts/bd45538f-4200-4946-b177-02de8337032d.eot?iefix');
    src:local('☺'),
    url('../fonts/bd45538f-4200-4946-b177-02de8337032d.eot?iefix') format('embedded-opentype'),
    url('../fonts/9908cdad-7524-4206-819e-4f345a666324.woff') format('woff'),
    url('../fonts/b710c26a-f1ae-4fb8-a9fe-570fd829cbf1.ttf') format('truetype'),
    url('../fonts/c9e387df-c0d3-42e1-8de6-78c41f68594c.svg#c9e387df-c0d3-42e1-8de6-78c41f68594c') format('svg');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family:'Walbaum W01 Bold Italic';
    src:url('../fonts/496478a2-156e-43ff-91a8-2b0432496479.eot?iefix');
    src:local('☺'),
    url('../fonts/496478a2-156e-43ff-91a8-2b0432496479.eot?iefix') format('embedded-opentype'),
    url('../fonts/7af6fecc-d601-4ec9-b966-c46f029900e2.woff') format('woff'),
    url('../fonts/7684a869-08be-40e0-833a-240adb8141fd.ttf') format('truetype'),
    url('../fonts/e4da6924-5b01-4a99-b2e9-1f6dfd52bb80.svg#e4da6924-5b01-4a99-b2e9-1f6dfd52bb80') format('svg');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family:'Walbaum W02 Bold';
    src:url('../fonts/0e98562a-aae9-4a1c-9c0e-2d3d54b20c62.eot?iefix');
    src:local('☺'),
    url('../fonts/0e98562a-aae9-4a1c-9c0e-2d3d54b20c62.eot?iefix') format('embedded-opentype'),
    url('../fonts/15c00221-147f-4171-b018-7eb362d48a11.woff') format('woff'),
    url('../fonts/f57db147-7c99-4823-9a89-dda4149ead27.ttf') format('truetype'),
    url('../fonts/b84256ee-5181-49e2-8740-370d26135131.svg#b84256ee-5181-49e2-8740-370d26135131') format('svg');
    font-weight:normal;
    font-style:normal;
}

/* MAN theme fonts ************************************************************
 * Source: Fonts.com
 */
@font-face {
    font-family:'ITC Blair W01 Medium';
    src:url('../fonts/302066bd-ead0-422e-87c0-cccc9f3c3932.eot?iefix');
    src:local('☺'),
    url('../fonts/302066bd-ead0-422e-87c0-cccc9f3c3932.eot?iefix') format('embedded-opentype'),
    url('../fonts/acb2708e-08cc-44a8-bbc7-b37a23f7d899.woff') format('woff'),
    url('../fonts/ad99dee8-d57b-4a6e-8825-dbc300397209.ttf') format('truetype'),
    url('../fonts/989d6d04-09c7-4a28-ac7f-4bd8e01849cc.svg#989d6d04-09c7-4a28-ac7f-4bd8e01849cc') format('svg');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family:'ITC Blair W01 Bold';
    src:url('../fonts/74b3e90e-7b09-45d5-b4de-52d391589877.eot?iefix');
    src:local('☺'),
    url('../fonts/74b3e90e-7b09-45d5-b4de-52d391589877.eot?iefix') format('embedded-opentype'),
    url('../fonts/54f2452f-9784-4c1e-8869-0b502a42aebb.woff') format('woff'),
    url('../fonts/0dd9f9a0-76bb-49e8-8adb-57141daf5e5a.ttf') format('truetype'),
    url('../fonts/9efe897a-2002-473c-a9f3-6d1a6ccda31b.svg#9efe897a-2002-473c-a9f3-6d1a6ccda31b') format('svg');
    font-weight:normal;
    font-style:normal;
}

/* BABY theme fonts ***********************************************************
 * Source: Generated by Font Squirrel (http://www.fontsquirrel.com)
 */
@font-face {
    font-family:'little_days_altregular';
    src:url('../fonts/little_days_alt-webfont.eot?iefix');
    src:local('☺'),
    url('../fonts/little_days_alt-webfont.eot?iefix') format('embedded-opentype'),
    url('../fonts/little_days_alt-webfont.woff') format('woff'),
    url('../fonts/little_days_alt-webfont.ttf') format('truetype'),
    url('../fonts/little_days_alt-webfont.svg#little_days_altregular') format('svg');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family:'halohandletterregular';
    src:url('../fonts/halohandletter-webfont.eot?iefix');
    src:local('☺'),
    url('../fonts/halohandletter-webfont.eot?iefix') format('embedded-opentype'),
    url('../fonts/halohandletter-webfont.woff') format('woff'),
    url('../fonts/halohandletter-webfont.ttf') format('truetype'),
    url('../fonts/halohandletter-webfont.svg#halohandletterregular') format('svg');
    font-weight:normal;
    font-style:normal;
}
